pandas==2.3.0
python-dotenv==1.1.0
alpaca-py==0.40.1
langchain==0.3.26
langchain-google-genai==2.0.10
langchain-chroma==0.2.4
chromadb==1.0.13
requests==2.32.4
python-binance==1.0.29
tqdm==4.67.1
langchain-community==0.3.26
deep-translator==1.11.4
